.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #3a165c;
    border-radius: 4px 4px ;
    text-decoration: none;
    color: #fff;
}

.button__text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    letter-spacing: 1px;
}

.button:hover{
   background-color: #6b35ab;
}
