.button {
    width: 120px;
    height: 32px;
    background-color: #3a165c;
    border-radius: 4px 4px ;
    text-decoration: none;
}

.button__text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    position: relative;
    letter-spacing: 1px;
}

.button:hover{
   background-color: #6b35ab;
}
