* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class*=__container]{
  max-width: 1057px;
  margin: 0 auto;
}
